<!DOCTYPE html>
<html>
  <head>
    <title>Instashow</title>
    <meta name="description" content="Create a simple slideshow from your Instagram photos." />
    <link href="/stylesheets/style.css" rel='stylesheet' type="text/css" />
    <script src="/javascripts/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.cycle.lite.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>